.menu {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right, white, black);
    position: relative;
}
.Teste {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    color: black;
}
.Testedois {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    color: black;
}
.menudois {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right, white, black);
    position: relative;
}
.textAg {
    font-size: large;
    color: greenyellow;
    text-shadow: #FC0 1px 0 10px;
    line-height: 14px;
}
.textAG2 {
    font-size: large;
    text-align: center;
    color: greenyellow;
    text-shadow: #FC0 1px 0 10px;
    line-height: 14px;
}
.textAG3 {
    font-size: large;
    color: greenyellow;
    text-shadow: #FC0 1px 0 10px;
    line-height: 14px;
}
.content {
    color: greenyellow;
    text-shadow: #FC0 1px 0 10px;
    
}

.background {
    background-image: url("/siteMusical/img/wallpaperflare.com_wallpaper.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.backgroundd {
    background-image: url("/siteMusical/img/wallpaperflare.com_wallpaper.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.backgrounddd {
    background-image: url("/siteMusical/img/wallpaperflare.com_wallpaper.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.backgroundddd {
    background-image: url("/siteMusical/img/wallpaperflare.com_wallpaper.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.menutres {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right, white, black);
    position: relative;
}
.menuquatro {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to right, white, black);
    position: relative;
}
.album-cover {
    max-width: 400px;
    margin: 20px auto;
    display: block;
}
